
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
}

#content-block {
	overflow: hidden;
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

html.overflow-hidden body {
	overflow: hidden;
}

.swiper-slide:not(:first-child) {
	display: none;
}

/* spacers */
.margin-header {
	height: 70px;
}

.spacer-lg-10 {
	height: 10px;
}

.spacer-lg-20 {
	height: 20px;
}

.spacer-lg-25 {
	height: 25px;
}

.spacer-lg-30 {
	height: 30px;
}

.spacer-lg-35 {
	height: 35px;
}

.spacer-lg-40 {
	height: 40px;
}

.spacer-lg-50 {
	height: 50px;
}

.spacer-lg-60 {
	height: 60px;
}

.spacer-lg-70 {
	height: 70px;
}

.spacer-lg-80 {
	height: 80px;
}

.spacer-lg-75 {
	height: 75px;
}

.spacer-lg-120 {
	height: 120px;
}

.spacer-lg-150 {
	height: 150px;
}

@media (max-width: 1368px) {
	.spacer-bg-60 {
		height: 60px;
	}

	.spacer-bg-70 {
		height: 70px;
	}
}

@media (max-width: 1199px) {
	.spacer-md-60 {
		height: 60px;
	}

	.spacer-md-50 {
		height: 50px;
	}

	.spacer-md-40 {
		height: 40px;
	}

	.spacer-md-30 {
		height: 30px;
	}

	.spacer-md-10 {
		height: 10px;
	}

	.spacer-md-0 {
		height: 0px;
		display: none;
	}
}

@media (max-width: 991px) {
	.spacer-sm-60 {
		height: 60px;
	}

	.spacer-sm-50 {
		height: 50px;
	}

	.spacer-sm-40 {
		height: 40px;
	}

	.spacer-sm-30 {
		height: 30px;
	}

	.spacer-sm-20 {
		height: 20px;
	}

	.spacer-sm-0 {
		height: 0px;
	}
}

@media (max-width: 767px) {
	.spacer-xs-30 {
		height: 30px;
	}

	.spacer-xs-15 {
		height: 15px;
	}

	.spacer-xs-10 {
		height: 10px;
	}
}

@media (max-width: 575px) {
	.spacer-ds-30 {
		height: 30px;
	}

	.spacer-ds-25 {
		height: 25px;
	}

	.spacer-ds-15 {
		height: 15px;
	}

	.spacer-ds-0 {
		height: 0;
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ANIMATIONS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.simple-animation {
	transform: translate3d(0, 30px, 0);
	transition: all 0.3s ease-out;
}

.animated .simple-animation, .simple-animation.animated {
	transform: none;
}

.delay-01 {
	transition-delay: .2s;
}

.delay-02 {
	transition-delay: .4s;
}

.delay-03 {
	transition-delay: .6s;
}

.delay-04 {
	transition-delay: .8s;
}

.delay-05 {
	transition-delay: 1s;
}

.delay-06 {
	transition-delay: 1.2s;
}

.delay-07 {
	transition-delay: 1.4s;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ELEMENTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.video-bg:after,
.bg:after {
	content: '';
	display: block;
}

.video-bg, .video-bg:after, .wr-hd, .bg, .bg:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
}

.wr-hd {
	overflow: hidden;
	z-index: -1;
}

.bg.parallax-bg {
	height: 125%;
	top: -10%;
}

.video-bg video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%) scale(1.1);
}

.icon-arrow {
	position: relative;
	display: inline-block;
	width: 7px;
	height: 7px;
}

.icon-arrow::before, .icon-arrow::after {
	content: "";
	position: absolute;
	top: 0;
	width: 1px;
	height: 9px;
	background-color: #111111;
}

.icon-arrow::before {
	left: 0;
	transform: rotate(-45deg);
}

.icon-arrow::after {
	right: 0;
	transform: rotate(45deg);
}

#loader-wrapper {
	position: fixed;
	left: 0;
	top: -100px;
	right: 0;
	bottom: -100px;
	background: #ffffff;
	z-index: 2000;
}

.section {
	position: relative;
}

.separator {
	border-bottom: 1px solid #dcecf2;
}

.image-wrapper img {
	max-width: 100%;
}
	
/*==========  Hover  ==========*/

// @media (min-width: 1200px){}

/*==========  MEDIA QUERIES  ==========*/

// @media (max-width: 1368px){}

// @media (max-width: 1199px){}

// @media (max-width: 991px){}

// @media (max-width: 768px){}
    
// @media (max-width: 575px){}


