/*-------------------------------------------------------------------------------------------------------------------------------*/
/* GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

html {
	height: auto;
}

body {
	height: auto;
	overflow: visible;
}

body ::selection {
	color: #fff;
	background: #000;
}

body ::-moz-selection {
	color: #fff;
	background: #000;
}

.swiper-slide:not(:first-child) {
	display: block;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* OTHERS STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

@import 'variables';

@import "popups";
@import "swiper";
@import "map";
@import "form";
@import 'transitions';
@import "footer";


