/*-------------------------------------------------------------------------------------------------------------------------------*/
/* GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html{height: auto;}
body{height: auto; overflow: visible;}
body ::selection {color: #fff; background: #000;}
body ::-moz-selection {color: #fff; background: #000;}
.swiper-slide:not(:first-child){display: block;}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* POPUPS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.popup-wrapper{position: fixed; z-index: 11; left: 0; top: 0; width: 100%; height: 100%; left: -100%; transition-delay: .3s;}
.popup-wrapper.active{left: 0; transition-delay: 0s;}
.popup-wrapper .bg-layer{position: absolute; left: 0; top: -100px; right: 0; bottom: -100px; background: rgba(0,0,0,.8); transition: all .3s ease-out; opacity: 0;}
.popup-wrapper.active .bg-layer{opacity: 1;}
.popup-content{position: absolute; top: 0; width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch; font-size: 0; text-align: center; transition: transform .3s ease-out, opacity .3s ease-out, left 0s .3s; transform: scale(1.2); -webkit-transform: scale(1.2); opacity: 0; left: -10000px; padding: 15px;}
.popup-content.active{transform: scale(1); -webkit-transform: scale(1); opacity: 1; left: 0; transition: transform .3s ease-out, opacity .3s ease-out, left 0s 0s; position: relative;}
.popup-content:after{display: inline-block; vertical-align: middle; height: 100%; content: "";}
.popup-container{display: inline-block; vertical-align: middle; width: 100%; position: relative; text-align: left; background: #fff;}
.popup-container.size-1{max-width: 570px;}
.popup-container.size-2{max-width: 970px;}
.popup-container.size-3{max-width: 1170px;}
.popup-content .layer-close{position: absolute; left: 0; bottom: 0; right: 0; height: 10000px;}
.popup-align{padding: 60px 70px 70px 70px; overflow: hidden;}
.popup-content .btn-close{position: absolute; right: 0; top: 0;}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* SWIPER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.swiper-entry{position: relative;}
.swiper-container:not(.swiper-no-swiping) .swiper-wrapper{cursor:url(../img/drag.png) 16 9, ew-resize;}
.swiper-container-vertical:not(.swiper-no-swiping) .swiper-wrapper{cursor:url(../img/drag-vertical.png) 8 16, ns-resize;}
.swiper-pagination.swiper-pagination-relative{position: relative; margin-top: 20px; bottom: auto;}
.swiper-pagination{line-height: 0; z-index: 2;}